.swiper-pagination-bullet-active {
    background: #fff;
}

.swiper-pagination-bullet {
    background: #DCDCDC;
}

.swiper-navigation-prev,
.swiper-navigation-next {
    width: 30px !important;
    height: 30px !important;
}

.swiper-navigation {
    width: 40px;
}


.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 28px;
    opacity: 0;
    transition: opacity 0.3s;
    background-color: #fff;
    border-radius: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 3px;
}

.swiper-button-disabled {
    display: none;
}

.swiper:hover .swiper-button-next,
.swiper:hover .swiper-button-prev {
    opacity: 1;
}